@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&family=Unbounded:wght@500&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color:#F1FAEE; 
    font-family: "Noto Sans", Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color:#457B9D
}
header{
    display: grid;
    grid-template-columns: 1fr 7fr;
    background-color:#A8DADC;
}
nav {
    justify-content: space-around;
    text-align: right;
    padding-top:50px;
    color:#1D3557;
}
nav a {
    padding:10px 10px 10px 10px;
    margin-right:20px;
    text-decoration: none;
}
nav a:hover {
    background-color:#396E94;
    color:#F1FAEE;
    padding: 10px 10px 10px 10px;
    margin-top: 50px;
    margin-right:20px;
    border-radius: 5px;
}
h1{
    color:#1D3557;
    display: inline-block;
    background-color:#A8DADC;
    font-family: "Unbounded", Tahoma, sans-serif;
    padding: 5px 5px 10px 5px;
    border-radius: 10px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    margin-left: auto;
}
footer {
    background-color:#A8DADC;
    color:#1D3557;
    padding: 20px 30px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(14,1fr);
    justify-content: space-around;
    align-items: center;
}
footer p{
    grid-column: 1/5;
}
.site-plan{
    grid-column: 5/7;
}
footer a {
    color:#1D3557;
    text-decoration: none;
    padding: 10px 10px 10px 10px; 
}
footer a:hover {
    background-color:#396E94;
    color:#F1FAEE;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}
footer .social{
    grid-column: 12/16;
}
footer .social img {
    padding-top: 10px;
}
main{
    padding: 0px 110px;
}
#msg{
    color:#457B9D;
    font-size: .8em;
    margin-top: 25px;
    margin-bottom: 25px;
}
.img-container{
    display: flex;
    align-items: center;
}
.img-container img{
    margin-right: 20px;
    width: 100%;
    height:350px;
    border: 3px solid #e63947c5;
}
